<div class="center hero-unit">
  <h1>Welcome to 99Cats</h1>

  <h2>
    Rent our cats, or get out. <br>Why buy when you can rent cats???<br> Look at all these <a href="/cats/">cats!</a> They're pretty cool.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<a href="/cats/"><img src="http://www.enchantedlearning.com/cgifs/Cat_bw.GIF"  height="150" width="150"></a>