<h1>Sign In</h1>

<form action="<%= session_url %>" method="post">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <label for="user_username">Username</label>
  <input
     id="user_username"
     name="user[user_name]"
     type="text">
  <br>

  <label for="user_password">Password</label>
  <input
     id="user_password"
     name="user[password]"
     type="password">
  <br>

  <input type="submit" value="Log in">
</form>
<form class="new_user" method="post" action="<%= session_url %>">
  <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token"></input>
    <input id="user_email" type="hidden" value="Catnapper" size="30" name="user[user_name]"></input>
    <input id="user_password" type="hidden" value="gimmeyocats" size="30" name="user[password]"></input>
    <input class="guest-button button button-rounded" type="submit" name="commit" value="Guest Login"></input>
  </form>
